.profclubs_createbutton {
    margin-top: 3rem;
}

.profclubs_roles {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profclubs_clublist {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-left: 0;
    padding-top: 0.25rem;
    list-style: none;
}