.prof {
    display: flex;
    height: calc(100vh - 2.75rem);
}

.prof_sidebar {
    display: flex;
    width: 16rem;
    flex-direction: column;
    position: sticky;
    top: 0px;
    padding-top: 1rem;
    overflow-y: auto;
    border-right: 1px solid  var(--sl-color-neutral-200);
}

.prof_sidebar-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
}

.prof_sidebar-header > h1 {
    margin-left: 0.5rem;
    font-weight: var(--sl-font-weight-semibold);
}

.prof_sidebar-header > sl-icon-button {
    margin-left: 0.5rem;
    font-size: 1.25rem;
}

.prof_sidebar-nav {
    padding-top: 1rem;
}

.prof_sidebar-nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
}

.prof_sidebar-nav li {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.prof_sidebar-nav a {
    flex-grow: 1;
    padding: 1rem;
    padding-left: 2rem;
    color: var(--sl-color-neutral-700);
    text-decoration: none;
    margin: 0.25rem;
    border-radius: 0.5rem;
}

.prof_sidebar-nav a:hover {
    background-color: var(--sl-color-neutral-300);
}

.prof_sidebar-nav a.active-link {
    background-color: var(--sl-color-primary-100);
}

.prof_content {
    position: relative;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    width: calc(100% - 16.5rem);
    min-width: 300px;
    display: flex;
    flex-direction: column;
}