.ub {
    background-color: var(--cyan-800);
    color: var(--white);
    padding: 0.25rem;
    border-radius: 999px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ub:disabled {
    background-color: var(--blueGray-400);
}

.ub:enabled:hover {
    cursor: pointer;
    background-color: var(--cyan-700);

}