.navbarBase {
  flex-grow: 1;
}

.navbarTitle {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.navbarTitle > h2 {
  font-size: 1.125rem;
}

.navbarLinks {
  padding-top: 0.5rem;
}

.navbarId {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
  font-style: italic;
}
