{% from "cafe/base.jinja" import base with context %}
{% from "cafe/components/header.jinja" import header with context %}
{% from "cafe/layouts/layout_dramatic_form.jinja" import layout_dramatic_form as layout with context %}
{% from "cafe/components/login_with_discord.jinja" import login_with_discord with context %}

{% call base(title="Rhythm Cafe") %}
    {% call layout() %}
        <div class="alo">
            {% with next_url = request.GET.get("next") %}
                {% if next_url is not none %}
                    <h1 class="alo__title_continue">
                        {% if request.user.is_authenticated %}
                        The current user does not have permissions to view this page
                        {% else %}
                        You need to log in to continue
                        {% endif %}
                    </h1>
                {% else %}
                    <h1 class="alo__title">Login</h1>
                {% endif %}
                {% call login_with_discord("alo__form") %}
                    <sl-button type="submit" class="alo__button">Log in with Discord</sl-button>
                {% endcall %}
            {% endwith %}
        </div>
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.alo {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 1rem;
}

.alo__title_continue {
    font-size: 1.25rem;
}

.alo__form {
    display: flex;
}

.alo__button {
    flex-grow: 1;
}
</style>