http:// {
    @maintenanceModeActive {
        file /app/maintenance.on {
            root /
        }
        not header X-Maintenance-Bypass true
    }
    handle @maintenanceModeActive {
        respond "Rhythm Cafe is currently under maintenance."
    }
    encode zstd gzip
    root * /var/www/rhythm.cafe
    route {
        file_server /static/* 
        reverse_proxy localhost:5000
    }
}