{% from "cafe/base.jinja" import base with context %}
{% from "cafe/layouts/layout_with_header_and_sidebar.jinja" import layout_with_header_and_sidebar as layout with context %}

{% call base(title="Rhythm Cafe") %}
    {% call(slot) layout() %}
        {% if slot == "content" %}
            Hello content!
        {% elif slot == "sidebar" %}
            Hello sidebar!
        {% endif %}
    {% endcall %}
{% endcall %}
