.he {
    position: sticky;
    top: 0;
    z-index: var(--sl-z-index-drawer);

	display: flex;
	height: 2.75rem;
    background-color: var(--sl-color-neutral-200);
    box-shadow: var(--sl-shadow-large);
	align-items: center;
}

.he_logo {
	display: block;
	height: 3.4rem;
	margin-top: 0.4rem;
	fill: var( --sl-color-primary-400);
	opacity: 70%;
}

.he_spacer {
    flex-grow: 1;
}