html {
    box-sizing: border-box;
    overscroll-behavior-y: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--sl-font-sans);
}

/* https://www.abeautifulsite.net/posts/flash-of-undefined-custom-elements/ */
:not(:defined) {
    visibility: hidden;
}
  
a {
    color: var(--sl-color-primary-500);
}

a:visited {
    color: var(--sl-color-purple-500);
}

a:hover {
    color: var(--sl-color-primary-600);
}

a:active {
    color: var(--sl-color-primary-600);
}