{% from "cafe/base.jinja" import base with context %}
{% from "cafe/club_settings/layout.jinja" import layout with context %}

{% set content %}
<script type="module" src="https://cdn.skypack.dev/@vanillawc/wc-markdown"></script>
<div class="sco">
    <div class="sco__md">
        <wc-markdown>
            <script type="wc-content">
## Connect a Discord server

To connect a Discord server, you need to add the Rhythm Cafe Discord bot to your server.

1. Add the Discord bot by clicking [this link]({{DISCORD_BOT_INVITE_URL}}) in a new tab.
2. By default, all of the bot's commands are restricted to only admins. This is to allow
the server owner maximum flexibility in how they want to set up the commands. You can
adjust who can use which commands by going to Server Settings -> Integrations.
3. The default status of any command looks like this:

![][img]

   This means only admins can use the command. You need to add role or member overrides.
   The exact way you set up your overrides depends on the structure of your server, but
   here are some recommendations:

   - Restrict to server owners only: `/connectgroup`
   - Restrict to moderators: `/viewgroup`
   - Allow for everyone: `/version`

[img]: {{ static('cafe/a1.png') }}
            </script>
        </wc-markdown>

4. Run the command `/connectgroup`. Select this group in the page that opens.
5. You can use the `/viewgroup` command in the server to verify the link is complete.
    </div>
</div>
{% endset %}

{% call base(title="Rhythm Cafe") %}
    {% call layout(current_club=current_club) %}
        {{ content }}
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.sco__md img {
    max-width: 300px;
}
</style>