.le {
    display: flex;
    flex-direction: row;
}

.le_sidebar {
    position: fixed;
    display: block;
    width: 19rem;
}

.le_content {
    display: flex;
    flex-direction: column;
    padding-left: calc(19rem + 1rem);
    padding-right: 1rem;
    justify-content: stretch;
    width: 100%;
}

.le_levels {
    flex-grow: 1;
    display: grid;
    padding: 0;

    grid-template-columns: repeat( auto-fit, minmax(22rem, 1fr) );
    column-gap: 1rem;
    row-gap: 1rem;

    margin-top: 0;
}


.loading\!le_content {
    opacity: 0.6;
}