.le {
    display: flex;
    flex-direction: row;
}

.le_levels {
    flex-grow: 1;
    display: grid;

    padding-left: 1rem;
    padding-right: 1rem;

    grid-template-columns: repeat( auto-fit, minmax(22rem, 1fr) );
    column-gap: 1rem;
    row-gap: 1rem;
}