{% from "cafe/base.jinja" import base with context %}
{% from "cafe/layouts/layout_dramatic_form.jinja" import layout_dramatic_form as layout with context %}

{% set content %}
<script>
const data = {
    prefillUrl: "{{ url('cafe:level_add_s2', args=[code]) }}",
    prefillStatusUrl: "{{ url('cafe:level_add_s3', args=['REPLACE_ME']) }}",
    csrfToken: "{{ csrf_token }}",
    prefillId: "",
    errors: "",
    intervalId: null,
    async init() {
        const resp = await fetch(this.prefillUrl, {
            method: 'POST',
            headers:  {
                'X-CSRFToken': this.csrfToken
            }
        });
        const data = await resp.json();
        this.prefillId = data.id;
        this.prefillStatusUrl = this.prefillStatusUrl.replace('REPLACE_ME', this.prefillId);
        this.intervalId = setInterval(this.checkPrefillStatus.bind(this), 2000);
    },
    async checkPrefillStatus() {
        // add a cache buster
        const resp = await fetch(this.prefillStatusUrl + '?_=' + Date.now());
        const data = await resp.json();
        if (data.ready === true) {
            window.location = data.redirect_url;
        }
        if (data.errors !== "") {
            this.errors = data.errors;
            clearInterval(this.intervalId);
        }
    }

}
</script>
<div class="ead" x-data="data">
    <div x-show="errors === ''" class="ead__inprogress">
        <sl-spinner class="ead__spinner"></sl-spinner>
        <p class="ead__analyzing">Analyzing level...</p>
    </div>
    <div x-show="errors !== ''">
        <p>An error occurred while analyzing the level. <strong>This is likely a bug, sorry!</strong>
        <p>Please try again, and if it still errors, ping Auburn with the following info:</p>
        <textarea readonly class="ead__error" x-text="'Trace for: ' + prefillId + '\n' + errors"></textarea>
    </div>
</div>
{% endset %}

{% call base(title="Rhythm Cafe") %}
    {% call layout() %}
        {{ content }}
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.ead__inprogress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ead__spinner {
    font-size: 2rem;
}

.ead__analyzing {
    padding-top: 1rem;
}
</style>