{% from "cafe/base.jinja" import base with context %}
{% from "cafe/layouts/layout_dramatic_form.jinja" import layout_dramatic_form as layout with context %}

{% set content %}
<script>
const data = {
    prefillUrl: "{{ url('cafe:level_prefill', args=[code]) }}",
    csrfToken: "{{ csrf_token }}",
    init() {
        fetch(this.prefillUrl, {
            method: 'POST',
            headers:  {
                'X-CSRFToken': this.csrfToken
            }
        })
    }
}
</script>
<div class="ead" x-data="data">
    <sl-spinner class="ead__spinner"></sl-spinner>
    <p class="ead__analyzing">Analyzing level...</p>
</div>
{% endset %}

{% call base(title="Rhythm Cafe") %}
    {% call layout() %}
        {{ content }}
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.ead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ead__spinner {
    font-size: 2rem;
}

.ead__analyzing {
    padding-top: 1rem;
}
</style>