{% from "cafe/base.jinja" import base with context %}
{% from "cafe/layouts/layout_dramatic_form.jinja" import layout_dramatic_form as layout with context %}

{% set content %}
<script>
const data = {
    prefillUrl: "{{ url('cafe:level_prefill', args=[code]) }}",
    prefillStatusUrl: "{{ url('cafe:prefill', args=['REPLACE_ME']) }}",
    csrfToken: "{{ csrf_token }}",
    prefillId: "",
    async init() {
        const resp = await fetch(this.prefillUrl, {
            method: 'POST',
            headers:  {
                'X-CSRFToken': this.csrfToken
            }
        });
        const data = await resp.json();
        this.prefillId = data.id;
        this.prefillStatusUrl = this.prefillStatusUrl.replace('REPLACE_ME', this.prefillId);
        setInterval(this.checkPrefillStatus.bind(this), 2000);
    },
    async checkPrefillStatus() {
        // add a cache buster
        const resp = await fetch(this.prefillStatusUrl + '?_=' + Date.now());
        const data = await resp.json();
        if (data.ready === true) {
            window.location = data.redirect_url;
        }
        if (data.errors !== "") {
            alert('prefill errors: ' + data.errors);
        }
    }

}
</script>
<div class="ead" x-data="data">
    <sl-spinner class="ead__spinner"></sl-spinner>
    <p class="ead__analyzing">Analyzing level...</p>
</div>
{% endset %}

{% call base(title="Rhythm Cafe") %}
    {% call layout() %}
        {{ content }}
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.ead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ead__spinner {
    font-size: 2rem;
}

.ead__analyzing {
    padding-top: 1rem;
}
</style>