{% from "cafe/base.jinja" import base with context %}
{% from 'cafe/layouts/layout_with_header.jinja' import layout_with_header as base_layout with context %}
{% from 'cafe/components/level_box.jinja' import level_box %}

{% set content %}
<script>
const INITIAL_PREFILL_DATA = {{ prefill.result | safe }};
const state = {
    level: {},
    get initialLevel() {
        return {
            song_alt: "",
            ...INITIAL_PREFILL_DATA
        }
    },
    artistLabel(number) {
        return number === 0 ? 'Artist' : `Artist (${number+1})`;
    },
    get canAddNewArtist() {
        return this.level.artist_tokens.at(-1).length > 0;
    },
    get canDeleteArtist() {
        return this.level.artist_tokens.map(artist => artist.length).some(length => length > 0) && this.level.artist_tokens.length > 1;
    },
    deleteArtist(index) {
        this.level.artist_tokens.splice(index, 1);
    },
    reset() {
        this.level = this.initialLevel;
    },
    init() {
        this.reset();
    },
}
</script>
<div class="eap" x-data="state">
    <div class="eap__form">
        <form>
            <sl-input label="Song" x-model="level.song"></sl-input>
            <sl-input label="Song (alternate)" x-model="level.song_alt"></sl-input>
            <sl-textarea label="Description" x-model="level.description"></sl-textarea>
            <!-- artists -->
            <template x-for="(artist, index) in level.artist_tokens" :key="index">
                <sl-input :label="artistLabel(index)" x-model="level.artist_tokens[index]">
                    <sl-icon-button
                        name="trash3"
                        label="Settings"
                        slot="suffix"
                        :disabled="!canDeleteArtist"
                        @click="deleteArtist(index)"
                    >
                    </sl-icon-button>
                </sl-input>
            </template>
            <sl-button @click="level.artist_tokens.push('')" :disabled="!canAddNewArtist">Add Artist</sl-button>
            <!-- end artists -->
            <sl-input type="number" label="Min BPM" x-model.number="level.min_bpm" :max="level.max_bpm"></sl-input>
            <sl-input type="number" label="Max BPM" x-model.number="level.max_bpm" :min="level.min_bpm"></sl-input>

        </form>
    </div>
    <div class="eap__preview">
        <div class="clb" x-data="{'level': level}">
            <div x-effect="console.log(level.artist)"></div>
            <textarea disabled="true" id="preview" name="preview" rows="5" cols="33" x-text="JSON.stringify(level)">
                It was a dark and stormy night...
            </textarea>

        </div>
        {# {{ level_box(data) }} #}
    </div>
</div>
{% endset %}

{% call base(title="Rhythm Cafe") %}
    {% call base_layout() %} 
    {{ content }}
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.eap {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.eap__form {
    flex-grow: 1;
}

.eap__preview {
    --other-color: var(--sl-color-primary-50);
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--sl-color-primary-100);
    background-image: linear-gradient(45deg, var(--other-color) 25%, transparent 25%, transparent 75%, var(--other-color) 75%), linear-gradient(45deg, var(--other-color) 25%, transparent 25%, transparent 75%, var(--other-color) 75%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
}
</style>