{% from "cafe/base.jinja" import base with context %}
{% from 'cafe/layouts/layout_with_header.jinja' import layout_with_header as base_layout with context %}
{% from 'cafe/components/level_box.jinja' import level_box %}
{% from 'cafe/components/tag_input.jinja' import tag_input %}

{% set content %}
<script>
const INITIAL_PREFILL_DATA = {{ prefill | safe }};
const state = {
    currentLevel: {},
    get initialLevel() {
        return {
            song_alt: "",
            club_id: "{{ club.id }}",
            club_name: "{{ club.name }}",
            approval: 0,
            ...INITIAL_PREFILL_DATA
        }
    },
    // artists
    artistLabel(number) {
        return number === 0 ? 'Artist' : `Artist (${number+1})`;
    },
    get canAddNewArtist() {
        // are none of the artists empty?
        return this.currentLevel.artist_tokens.every(artist => artist.length > 0);
    },
    canDeleteArtist(index) {
        // are there any non-empty artists, excluding the one at index?
        return this.currentLevel.artist_tokens.filter((artist, i) => i !== index && artist.length > 0).length > 0;
    },
    deleteArtist(index) {
        this.currentLevel.artist_tokens.splice(index, 1);
    },
    // tags
    tagLabel(number) {
        return number === 0 ? 'Tag' : `Tag (${number+1})`;
    },
    get canAddNewTag() {
        return this.currentLevel.tags.every(tag => tag.length > 0);
    },
    canDeleteTag(index) {
        return this.currentLevel.tags.filter((tag, i) => i !== index && tag.length > 0).length > 0;
    },
    deleteTag(index) {
        this.currentLevel.tags.splice(index, 1);
    },
    // authors
    authorLabel(number) {
        return number === 0 ? 'Author' : `Author (${number+1})`;
    },
    get canAddNewAuthor() {
        return this.currentLevel.authors.every(author => author.length > 0);
    },
    canDeleteAuthor(index) {
        return this.currentLevel.authors.filter((author, i) => i !== index && author.length > 0).length > 0;
    },
    deleteAuthor(index) {
        this.currentLevel.authors.splice(index, 1);
    },
    get difficultyModel() {
        return this.currentLevel.difficulty.toString();
    },
    setDifficultyModel(value) {
        this.currentLevel.difficulty = parseInt(value);
    },
    reset() {
        this.currentLevel = this.initialLevel;
    },
    init() {
        this.reset();
    },
    submit() {
        alert("TODO: submit");
    }
}
</script>
<div class="eap" x-data="state">
    <div class="eap__form">
        <div class="eap__form-controls">
            <sl-button @click="submit" variant="primary">Submit</sl-button>
            <sl-button @click="reset">Reset</sl-button>
        </div>
        <div class="eap__form-titles">
            <sl-input class="eap__form-title" label="Song" x-model="currentLevel.song"></sl-input>
            <sl-input class="eap__form-title" x-model="currentLevel.song_alt">
                <span slot="label">
                    Song (alternate)
                    <sl-tooltip class="eap__form-tip" content="Alternate name of the song, such as a localised or romanized name.">
                        <sl-icon name="info-circle"></sl-icon>
                    </sl-tooltip>
                </span>
            </sl-input>
        </div>
        <sl-textarea label="Description" x-model="currentLevel.description"></sl-textarea>

        <fieldset>
            <legend>Artists</legend>
            {{ tag_input("currentLevel.artist_tokens", "\"Artist\"") }}
        </fieldset>

        <div class="eap__form-bpm-and-difficulty">
            <sl-input type="number" label="Min BPM" x-model.number="currentLevel.min_bpm" :max="currentLevel.max_bpm"></sl-input>
            <sl-input type="number" label="Max BPM" x-model.number="currentLevel.max_bpm" :min="currentLevel.min_bpm"></sl-input>

            <sl-select label="Difficulty" :value="difficultyModel" @sl-change="e => setDifficultyModel(e.target.value)">
                <sl-option value="0">Easy</sl-option>
                <sl-option value="1">Medium</sl-option>
                <sl-option value="2">Tough</sl-option>
                <sl-option value="3">Very Tough</sl-option>
            </sl-select>
        </div>

        <fieldset>
            <legend>Authors</legend>
            {{ tag_input("currentLevel.authors", "\"Author\"") }}
        </fieldset>

        <fieldset class="eap__form-tags">
            <legend>Tags</legend>
            {{ tag_input("currentLevel.tags", "\"Tag\"") }}
        </fieldset>

        <div class="eap__form-checkboxes">
            <!-- these are always fixed, so we can generate it serverside -->
            {% for (field, field_name) in [
                ("single_player", "Single Player"),
                ("two_player", "Two Player"),
                ("seizure_warning", "Seizure Warning"),
                ("has_classics", "Has classic beats"),
                ("has_oneshots", "Has Oneshots"),
                ("has_squareshots", "Has Squareshots"),
                ("has_freezeshots", "Has Freezeshots"),
                ("has_freetimes", "Has Freetimes"),
                ("has_holds", "Has Holds"),
                ("has_skipshots", "Skipshots"),
                ("has_window_dance", "Has Window Dance"),
            ]%}
                <sl-checkbox
                    :checked="currentLevel.{{ field }}"
                    @sl-change="currentLevel.{{ field }} = $event.target.checked"
                >
                    {{ field_name }}
                </sl-checkbox>
            {% endfor %}
        </div>

    </div>
    <div class="eap__preview">
        {{ level_box("currentLevel") }}
    </div>
</div>
{% endset %}

{% call base(title="Rhythm Cafe") %}
    {% call base_layout() %} 
    {{ content }}
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.eap {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: var(--sl-color-neutral-50);
}

.eap__form {
    flex-grow: 1;
    background-color: var(--sl-color-neutral-0);
    box-shadow: var(--sl-shadow-medium);
    margin: 2cqh 2cqw 2cqh 2cqw;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;

    overflow-y: auto;
}

.eap__preview {
    --other-color: var(--sl-color-primary-50);
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--sl-color-primary-100);
    background-image: linear-gradient(45deg, var(--other-color) 25%, transparent 25%, transparent 75%, var(--other-color) 75%), linear-gradient(45deg, var(--other-color) 25%, transparent 25%, transparent 75%, var(--other-color) 75%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
}

.eap__form-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.eap__form-title {
    flex-grow: 1;
}

.eap__form-tip {
    color: var(--sl-color-neutral-500);
}

.eap__form-tip:hover {
    color: var(--sl-color-neutral-800);
}

.eap__form-bpm-and-difficulty {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.eap__form-tags .cti__input {
    width: 13rem;
}

.eap__form-checkboxes {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(12rem, 1fr));
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
</style>