{% from "cafe/base.jinja" import base with context %}
{% from 'cafe/layouts/layout_with_header.jinja' import layout_with_header as base_layout with context %}

{% set content %}
<script>
const data = {
    prefillData: {
        "data": "{{ prefill.result }}"
    }
}
</script>
<div class="efp">
    <div class="efp__form">
        <form>
            <sl-input></sl-input>
        </form>
    </div>
    <div class="efp__preview">
        Preview!!
    </div>
</div>
{% endset %}

{% call base(title="Rhythm Cafe") %}
    {% call base_layout() %} 
    {{ content }}
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.efp {
    background-color: red;
    display: flex;
    flex-direction: row;
}
</style>