{% from "cafe/base.jinja" import base with context %}
{% from "cafe/layouts/layout_dramatic_form.jinja" import layout_dramatic_form as layout with context %}

{% set content %}
<div class="epo" x-data="data">
    <div class="epo__choices">
        <h1 class="epo__title">Select upload type:</h1>
        <div class="epo__buttons">
            <sl-button href="{{ url('cafe:level_add_s1', args=[code]) }}">This is a new level</sl-button>
            <sl-button>This is an update to an existing level</sl-button>
        </div>
    </div>
</div>
{% endset %}

{% call base(title="Rhythm Cafe") %}
    {% call layout() %}
        {{ content }}
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.epo__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
</style>