{% from "cafe/base.jinja" import base with context %}
{% from 'cafe/layouts/layout_with_header.jinja' import layout_with_header as base_layout with context %}

{% set content %}
<script>
// formatter is defined in level_box
const format = s => formatter.format(s);
const formatDiff = d => ['Easy', 'Medium', 'Tough', 'Very Tough'][d];

const copyToClipboard = async () => {
    const urlToCopy = "{{ level.rdzip_url }}";
    await navigator.clipboard.writeText(urlToCopy);
    alert("Copied to clipboard!");
}

</script>
<div class="evl">
    <div class="evl__wrapper1">
        <div class="evl__titlebox">
            <img src="{{ level.image_url }}" class="evl__image"/>
            <div class="evl__titles">
                <h3 x-data x-text="format({{level.artist_tokens}})"></h3>
                <h1>{{ level.song }}</h1>
                {% if level.song_alt %}
                    <h2>{{ level.song_alt }}</h2>
                {% endif %}
            </div>
        </div>
        <div class="evl__buttons" x-data>
            <sl-button class="evl__button evl__button--download" variant="primary" href="{{level.rdzip_url}}">Download</sl-button>
            <sl-button class="evl__button evl__button--copy" @click="copyToClipboard">Copy URL</sl-button>
            {% if has_permission("cafe.change_rdlevel") %}
                <sl-button class="evl__button evl__button--edit" @click="onCopyClick" variant="primary">Edit</sl-button>
            {% endif %}
            {% if has_permission("cafe.delete_rdlevel") %}
                <sl-button class="evl__button evl__button--delete" @click="onCopyClick" variant="warning">Delete</sl-button>
            {% endif %}

        </div>
        <dl class="evl__info" x-data>
            <div>
                <dt>Author(s)</dt>
                <dd x-text="format({{level.authors}})"></dd>
            </div>
            <div>
                <dt>Difficulty</dt>
                <dd x-text="formatDiff({{level.difficulty}})"></dd>
            </div>
            <div>
                <dt>BPM</dt>
                <dd>{{level.min_bpm}} - {{level.max_bpm}}</dd>
            </div>
            <div>
                <dt>Players</dt>
                {% if level.single_player %}
                    <dd>Single Player</dd>
                {% else %}
                    <dd>Two Player</dd>
                {% endif %}
            </div>
            <div class="evl__groups">
                <dt>Groups</dt>
                <dd>
                    <ul>
                    {% for club in clubs %}
                        <li>{{club.name}}</li>
                    {% endfor %}
                    </ul>
                </dd>
            </div>
        </dl>
    </div>
</div>
{% endset %}

{% call base(title="Rhythm Cafe") %}
    {% call base_layout() %} 
    {{ content }}
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.evl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--sl-color-neutral-100);
    min-height: 100vh;
}

.evl__wrapper1 {
    flex-grow: 1;
    max-width: 1024px;
    background-color: var(--sl-color-neutral-0);
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.evl__titlebox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: var(--sl-color-primary-100);
}

.evl__info {
    padding: 1rem;
}

.evl__image {
    aspect-ratio: 16 / 9;
    max-width: 30%;
}

.evl__titles {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.evl__buttons {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
    padding: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: var(--sl-shadow-medium);
    background-color: var(--sl-color-primary-100);
    width: fit-content;
}

.evl__info {
    margin-top: 0;
}

.evl__info dt {
    font-weight: bold;
}

.evl__groups dd ul {
    list-style-type: none;
    padding-left: 0;
}


</style>