.shell.shell {
    @mixin dark {
        --app-shell-border-color: var(--mantine-color-dark-5);
    }
}

.header.header {
    background-color: var(--mantine-color-indigo-0);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;

    @mixin dark {
        background-color: var(--mantine-color-indigo-9);
    }
}

.spacer {
    flex-grow: 1;
}

.userSection {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}

.userSectionButton:hover > * {
    /* add light filter with transition */
    filter: brightness(1.2);
    transition: filter 0.2s, transform 0.2s;
}
/* when they click the button, shift it down a bit */
.userSectionButton:active {
    transform: translateY(1px);
}

.mainArea {
    padding-left: 1rem;
}