{% from 'cafe/components/header.jinja' import header with context %}

{% macro layout_with_header() %}
<!-- BEGIN layout_with_header.jinja -->
{{ header() }}
<div class="lhh">
    {{ caller() }}
</div>

<style data-hoist="true">
.lhh {
    min-height: calc(100vh - 2.75rem);
    display: flex;
    flex-direction: column;
}
</style>
<!-- END layout_with_header.jinja -->
{% endmacro %}