{% from "cafe/layouts/layout_with_header.jinja" import layout_with_header as base_layout %}

{% macro layout_with_header_and_sidebar(user, csrf_input) %}
<!-- BEGIN layout_with_header_and_sidebar.jinja -->
{% set _caller = caller %}
{% call base_layout(user=user, csrf_input=csrf_input) %}
    <div class="lhs">
        <div class="lhs__sidebar">
            {{ _caller("sidebar") }}
        </div>
        <div class="lhs__content">
            {{ _caller("content") }}
        </div>
    </div>
{% endcall %}
<style data-hoist="true">
.lhs {
    flex-grow: 1;
    max-height: calc(100vh - 2.75rem);
    overflow: hidden;

    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.lhs__sidebar, .lhs__content {
    overflow-y: auto;
}

.lhs__content {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}
</style>
<!-- END layout_with_header_and_sidebar.jinja -->
{% endmacro %}