.dc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--sl-color-neutral-200);
}

.dc_loading, .dc_error, .dc_success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dc_loading-spinner {
    font-size: 3rem;
}

.dc_loading-text, .dc_error-text, .dc_error-advice, .dc_success-text {
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 0.875rem;
    max-width: 40rem;
}