{% set user = request.user %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ static('vendors/reset.css') }}" />
        {% if user.is_authenticated and user.profile.theme_pref == 'dark' %}
            <link
                rel="stylesheet" href="{{ static('vendors/shoelace-dark.css') }}"
                onload="document.documentElement.classList.add('sl-theme-dark');"
            />
        {% else %}
            <link rel="stylesheet" href="{{ static('vendors/shoelace-light.css') }}" />
        {% endif %}
        {#
            shoelace components
        #}
        {% for component_name in [
            "button",
            "dropdown",
            "menu",
            "menu-item",
            "input",
            "icon",
            "icon-button",
            "details",
            "select",
            "option"]
        %}
            <script
                type="module"
                src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/components/{{ component_name }}/{{ component_name }}.js"
                data-shoelace="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn">
            </script>
        {% endfor %}

        {# todo: vendor this dependency #}
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        {# other css #}
        {% for css_file in [
            'cafe/style.css',
            'cafe/header.css',
            'cafe/profile/clubs.css',
            'cafe/profile/connections.css',
            'cafe/profile/layout.css',
            'cafe/profile/profile.css',
            'cafe/profile/settings.css'
        ]%}
            <link rel="stylesheet" href="{{ static(css_file) }}" />
        {% endfor %}

        <title>{% block title %}{% endblock %} - Rhythm Café</title>
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>