{% extends "cafe/base.jinja" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <h1>Index</h1>
    <p class="important">
      Welcome to my awesome homepage!
    </p>
    <strong>You are not logged in.</strong>
    <a href="#">click this link to log in</a>
{% endblock %}