{% extends "cafe/base.jinja" %}
{% block title %}Home{% endblock %}
{% block body %}
    {% include 'cafe/header.jinja' %}
    <h1>Index</h1>
    <p class="important">
      Welcome to my awesome homepage!
    </p>
    {% if user.is_authenticated %}
      <strong>You are logged in.</strong>
    {% else %}
    <strong>You are not logged in.</strong>
    {% endif %}
{% endblock %}