.dd {
    display: flex;
}

.dd > * {
    background-color: var(--sl-color-neutral-100);
}

.easy\!dd > * {
    background-color: var(--sl-color-teal-100);
    color: var(--sl-color-teal-600);
}

.medium\!dd > * {
    background-color: var(--sl-color-amber-100);
    color: var(--sl-color-amber-600);
}

.tough\!dd > * {
    background-color: var(--sl-color-rose-100);
    color: var(--sl-color-rose-500);
}

.ultima\!dd > * {
    background-color: var(--sl-color-violet-100);
    color: var(--sl-color-violet-500);
}

.dd_text {
	font-size: 0.75rem;
	line-height: 1rem;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	text-transform: lowercase;
    font-weight: 300;
    border-radius: inherit;
}

.dd_triangle {
    width: 1.5rem;
    clip-path: polygon(0% -4%, 104% -4%, 104% 100%, 100% 100%);
}