.re {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.re_content {
    background-color: var(--white);
    padding: 2rem;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.re_title {
    font-size: 1.25rem;
    font-weight: 500;
}

.re_list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
}

.re_option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 1rem;
}

.re_option:hover {
    box-shadow: var(--shadow-elevation-low);
}

.re_new {
    background-color: var(--blue-300);
    color: var(--blue-900);
}

.re_new:hover {
    background-color: var(--blue-200);
}

.re_link {
    background-color: var(--orange-300);
    color: var(--orange-900);
}

.re_link:hover {
    background-color: var(--orange-200);
}

.re_hint {
    margin-top: 1rem;
    font-style: italic;
    font-size: 0.875rem;
    color: var(--blueGray-800);
}