{% from "cafe/base.jinja" import base with context %}
{% from "cafe/profile/layout.jinja" import layout with context %}

{% set content %}
    <div class="pcl">
        <h2>Your groups</h2>
        <div class="pcl__roles">
            {% for role in ["owner", "admin"] %}
                {% with role_memberships = memberships[role] %}
                    {% if role_memberships %}
                        <div class="pcl__role">
                            <h3>{{ role | title }}</h3>
                            <ul class="pcl__club_list">
                            {% for membership in role_memberships %}
                                {% with club = membership.club %}
                                    <li>
                                        <a href="/groups/{{ club.id }}/settings">{{ club.name }}</a>
                                    </li>
                                {% endwith %}
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
        <sl-button href="/groups/create" class="pcl__create">Create group</sl-button>
    </div>
{% endset %}

{% call base(title="Rhythm Cafe") %}
    {% call layout() %}
        {{ content }}
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.pcl__create {
    margin-top: 3rem;
}

.pcl__roles {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pcl__club_list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-left: 0;
    padding-top: 0.25rem;
    list-style: none;
}
</style>