{% from "cafe/base.jinja" import base with context %}
{% from "cafe/profile/layout.jinja" import layout with context %}

{% set content %}
    <div class="pco">
        <h2 class="pco__title">Existing connections</h2>
        <ul class="pco__exists">
            {% for connection in request.user.oauth_connections.all() %}
            <li>
                <sl-details class="pco__details">
                    {% with data = connection_map[connection.provider_user_id] %}
                        <div slot="summary" class="pco__summary">
                            {# for now, assume discord as we have no other connection types yet. #}
                            <sl-icon name="discord" class="pco__icon"></sl-icon>
                            <p class="pco__name">{{ data['global_name'] }}</p>
                        </div>
                        <ul class="pco__info">
                            <li>
                                <p><strong>Username: </strong><span>{{ data['username'] }}</span></p>
                            </li>
                            <li>
                                <p><strong>Discord ID: </strong><span>{{ data['id'] }}</span></p>
                            </li>
                        </ul>
                        {% if connection.can_be_disconnected() %}
                            <form action="{{ url('oauthlogin:disconnect', args=[connection.provider_key]) }}" method="post" class="pco__disconnect">
                                {{ csrf_input }}
                                <input type="hidden" name="provider_user_id" value="{{ connection.provider_user_id }}">
                                <input type="hidden" name="next" value="{{ url('cafe:connections') }}">
                                <sl-button type="submit">Disconnect</sl-button>
                            </form>
                        {% endif %}
                    {% endwith %}
                </sl-details>
            </li>
            {% endfor %}
        </ul>

        <h2>Add a connection</h2>
        <ul class="pco__add">
            {% for provider_key in oauth_provider_keys %}
            <li class="">
                <form action="/oauth/{{ provider_key }}/connect/" method="post">
                    {{ csrf_input }}
                    <input type="hidden" name="next" value="{{ url('cafe:connections') }}">
                    <sl-button type="submit">Connect with {{ provider_key.title() }}</sl-button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endset %}

{% call base(title="Rhythm Cafe") %}
    {% call layout() %}
        {{ content }}
    {% endcall %}
{% endcall %}

<style>
    .pco {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .pco__title {
        font-weight: var(--sl-font-weight-semibold);
    }

    .pco__exists {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-width: 24rem;
    }

    .pco__summary {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .pco__icon {
        font-size: 1.25rem;
        color: var(--sl-color-indigo-600);
    }

    .pco__name {
        margin-left: 0.75rem;
        font-weight: var(--sl-font-weight-semibold);
    }

    .pco__info {
        padding: 0;
        font-size: 0.875rem;
    }

    .pco__info > li {
        list-style-type: none;
    }

    .pco__disconnect {
        padding-top: 1.5rem;
    }

    .pco__add {
        padding: 0;
        list-style: none;

    }

    .pco__add > li {
        list-style-type: none;
    }
</style>