
{% from "cafe/layouts/layout_with_header_and_sidebar.jinja" import layout_with_header_and_sidebar as base_layout with context %}
{% from "cafe/components/settings_sidebar.jinja" import settings_sidebar %}

{% macro layout() %}
<!-- BEGIN profile/layout.jinja -->
{% set _caller = caller %}
{% call(slot) base_layout() %}
    {% if slot == 'sidebar' %}
        {% call settings_sidebar([
            ["Info", url('cafe:profile')],
            ["Connections", url('cafe:connections')],
            ["Settings", url('cafe:settings')],
            ["Groups", url('cafe:clubs')]
        ]) %}
            <div class="pla__header">
                <h1 class="pla__title">Profile</h1>
                <sl-icon-button name="chevron-left" href="/" class="pla__back">
                    Back
                </sl-icon-button>
            </div>
        {% endcall %}
    {% elif slot == 'content' %}
        {{ _caller() }}
    {% endif %}
{% endcall %}
<style data-hoist="true">   
.pla__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
}

.pla__title {
    margin-left: 0.5rem;
    font-weight: var(--sl-font-weight-semibold);
}

.pla__back {
    margin-left: 0.5rem;
    font-size: 1.25rem;
}
</style>
<!-- END profile/layout.jinja -->
{% endmacro %}