{% from "cafe/base.jinja" import base with context %}
{% from "cafe/profile/layout.jinja" import layout with context %}

{% set content %}
    <div class="pse">
        <form class="pse__form" action="{{ url('cafe:settings') }}" method="post">
            {{ csrf_input }}
            <sl-select class="pse__theme" label="Theme" value="{{ request.user.profile.theme_pref }}" name="theme_pref">
                <sl-option value="light">Light</sl-option>
                <sl-option value="dark">Dark</sl-option>
            </sl-select>
            <sl-button class="pse__submit" type="submit">Change settings</sl-button>
        </form>
    </div>
{% endset %}

{% call base(title="Rhythm Cafe") %}
    {% call layout() %}
        {{ content }}
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.pse__form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}
</style>