
{% from "cafe/layouts/layout_with_header_and_sidebar.jinja" import layout_with_header_and_sidebar as base_layout with context %}
{% from "cafe/components/settings_sidebar.jinja" import settings_sidebar %}

{% macro layout(current_club) %}
<!-- BEGIN club_settings/layout.jinja -->
{% set _caller = caller %}
{% call(slot) base_layout() %}
    {% if slot == 'sidebar' %}
        {% call settings_sidebar([
            ["Info", url('cafe:club_settings_info', args=[current_club.id])],
            ["Connections", url('cafe:club_settings_connections', args=[current_club.id])],
            ["Members", url('cafe:club_settings_members', args=[current_club.id])],
            ["Settings", url('cafe:settings')]
        ]) %}
            <h1 class="sla__name">{{ current_club.name }}</h1>
        {% endcall %}
    {% elif slot == 'content' %}
        {{ _caller() }}
    {% endif %}
{% endcall %}

<style data-hoist="true">   
.sla__name {
    margin-left: 0.5rem;
    font-weight: var(--sl-font-weight-semibold);
}
</style>
<!-- END club_settings/layout.jinja -->
{% endmacro %}