{% from "cafe/base.jinja" import base %}
{% from "cafe/club_settings/layout.jinja" import layout %}

{% set content %}
    <div class="sme" x-data="{
        activeUserId: '',
        activeUserName: '',
        kickUserConfirm: false,

        openDialog(id, name, role) {
            this.activeUserId = id;
            this.activeUserName = name;
            this.kickUserConfirm = false;
            $refs.dialog.show();
            $refs.select.value = role;
        },

        get actionURL() {
            const urlWithSlot = '{{ url('cafe:club_settings_membership', args=[current_club.id, '__']) }}';
            return urlWithSlot.replace('__', this.activeUserId);
        },

        get deleteActionUrl() {
            const urlWithSlot = '{{ url('cafe:club_settings_membership_delete', args=[current_club.id, '__']) }}';
            return urlWithSlot.replace('__', this.activeUserId);
        },

        openAddUserDialog() {
            $refs.addDialog.show();
        },
    }">
        {% with invite_url = request.GET.get("invite_url") %}
            {% if invite_url is not none %}
                <div x-data='{ invite_url: window.origin + "{{ invite_url }}" }'>
                    <div class="sme__invite_container">
                        <sl-input :value="invite_url" class="sme__invite_input">
                            <span slot="label" class="sme__invite_label">
                                <span>Here's the invite URL!</span>
                                <span>(copy it now; this is the only time you can see it)</span>
                            </span>
                        </sl-input>
                        <sl-copy-button :value="invite_url" class="sme__invite_button"></sl-copy-button>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        <h1 class="sme__title">{{current_club.name}} members</h1>
        <!-- Change / delete dialog -->
        <sl-dialog :label="`Edit ${activeUserName} (${activeUserId})`" x-ref="dialog">
            <form
                id="changeForm"
                method="post"
                :action="actionURL"
            >
                {{ csrf_input }}
                <!-- not sure why but without this x-if, the sl-select doesn't take on a value when we set it -->
                <template x-if="true"> 
                    <sl-select hoist label="Role" name="role" x-ref="select">
                        <sl-option value="owner">Owner</sl-option>
                        <sl-option value="admin">Admin</sl-option>
                    </sl-select>
                </template>
            </form>
            <form
                id="deleteForm"
                method="post"
                :action="deleteActionUrl"
            >
                {{ csrf_input }}
            </form>
            <div slot="footer">
                <sl-button @click="kickUserConfirm = true" x-show="!kickUserConfirm" variant="danger">Kick user</sl-button>
                <sl-button type="submit" form="deleteForm" variant="danger" x-show="kickUserConfirm">Click again to confirm</sl-button>
                <sl-button type="submit" form="changeForm">Change role</sl-button>
            </div>
        </sl-dialog>
        <!-- Invite dialog -->
        <sl-dialog x-ref="addDialog" label="Add member">
            <p>Clicking the button will generate an invite link. Send the invite link to the person you wish to invite.</p>
            <p><strong>The link will expire in 24 hours.</strong></p>
            <form x-ref="inviteForm" method="post" action="{{ url('cafe:club_settings_membership_invite', args=[current_club.id]) }}">
                {{ csrf_input }}
                <sl-select hoist label="Invite role" name="role" x-ref="select" value="admin">
                    <sl-option value="owner">Owner</sl-option>
                    <sl-option value="admin">Admin</sl-option>
                </sl-select>
                <sl-button type="submit">Create link</sl-button>
            </form>
        </sl-dialog>
        <table class="sme__table">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">ID</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for membership in memberships %}
                    <tr>
                        <th scope="row">{{ membership.user.first_name }}</th>
                        <td>{{ membership.user.username }}</td>
                        <td>{{ membership.role | title }}</td>
                        <td x-data="{
                            id: '{{ membership.user.username }}',
                            name: '{{ membership.user.first_name }}',
                            role: '{{ membership.role }}'
                        }">
                            <sl-button @click="openDialog(id, name, role)">Edit</sl-button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <sl-button @click="openAddUserDialog()">Add member</sl-button>
    </div>
{% endset %}

{% call base(title="Rhythm Cafe", user=request.user) %}
    {% call layout(user=request.user, csrf_input=csrf_input, current_club=current_club) %}
        {{ content }}
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.sme__invite_container {
    background-color: var(--sl-color-primary-100);
    box-shadow: var(--sl-shadow-medium);
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;

    display: flex;
    flex-direction: row;
    align-items: end;
}

.sme__invite_label > span {
    font-size: var(--sl-font-size-small);
}

.sme__invite_label > span:first-child {
    font-weight: var(--sl-font-weight-semibold);
}

.sme__invite_button {
    padding-bottom: 0.25rem;
    padding-left: 0.125rem;
}

.sme__title {
    font-size: var(--sl-font-size-large);
    margin-bottom: 1rem;
}

.sme__table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
}

.sme__table td, .sme__table th {
    padding: 0.5em;
    border-bottom: 1px solid var(--sl-color-neutral-200);
}
</style>