.container {
  display: flex;
}

.searchInput {
  flex-grow: 1;
  :global {
    .mantine-TextInput-input {
      background-color: var(--mantine-color-violet-0);

      @mixin dark {
        background-color: var(--mantine-color-gray-9);
      }

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }
  }
}

.searchButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--mantine-color-indigo-4);
  padding: 0.5rem 0.75rem;
  @mixin dark {
    background-color: var(--mantine-color-indigo-7);
  }
}

.searchButton:hover {
  background-color: var(--mantine-color-indigo-3);
  @mixin dark {
    background-color: var(--mantine-color-indigo-8);
  }
}
