{% from "cafe/base.jinja" import base %}
{% from "cafe/profile/layout.jinja" import layout %}

{% set content %}
    <div class="profclubs">
        <h2>Your groups</h2>
        <div class="profclubs_roles">
            {% for role in ["owner", "admin"] %}
                {% with role_memberships = memberships[role] %}
                    {% if role_memberships %}
                        <div class="profclubs_role">
                            <h3>{{ role | title }}</h3>
                            <ul class="profclubs_clublist">
                            {% for membership in role_memberships %}
                                {% with club = membership.club %}
                                    <li>
                                        <a href="/groups/{{ club.id }}/settings">{{ club.name }}</a>
                                    </li>
                                {% endwith %}
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
        <sl-button href="/groups/create" class="profclubs_createbutton">Create group</sl-button>
    </div>
{% endset %}

{% call base(title="Rhythm Cafe", user=request.user) %}
    {% call layout(user=request.user, csrf_input=csrf_input) %}
        {{ content }}
    {% endcall %}
{% endcall %}

<style data-hoist="true">
.profclubs_createbutton {
    margin-top: 3rem;
}

.profclubs_roles {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profclubs_clublist {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-left: 0;
    padding-top: 0.25rem;
    list-style: none;
}
</style>