{% extends "cafe/profile/layout.jinja" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('cafe/profile/connections.css') }}" />
{% endblock %}
{% block content %}
    <div class="profconnections">
        <h2>Existing connections</h2>
        <ul class="profconnections_existing">
            {% for connection in request.user.oauth_connections.all() %}
            <li>
                <sl-details class="profconnections_connection">
                    {% with data = connection_map[connection.provider_user_id] %}
                        <div slot="summary" class="profconnections_connection-summary">
                            {# for now, assume discord as we have no other connection types yet. #}
                            <sl-icon name="discord"></sl-icon>
                            <p>{{ data['global_name'] }}</p>
                        </div>
                        <ul class="profconnections_connection-info">
                            <li>
                                <p><strong>Username: </strong><span>{{ data['username'] }}</span></p>
                            </li>
                            <li>
                                <p><strong>Discord ID: </strong><span>{{ data['id'] }}</span></p>
                            </li>
                        </ul>
                        {% if connection.can_be_disconnected() %}
                            <form action="{{ url('oauthlogin:disconnect', args=[connection.provider_key]) }}" method="post" class="profconnections_disconnect">
                                {{ csrf_input }}
                                <input type="hidden" name="provider_user_id" value="{{ connection.provider_user_id }}">
                                <input type="hidden" name="next" value="{{ url('cafe:connections') }}">
                                <sl-button type="submit">Disconnect</sl-button>
                            </form>
                        {% endif %}
                    {% endwith %}
                </sl-details>
            </li>
            {% endfor %}
        </ul>

        <h2>Add a connection</h2>
        <ul class="profconnections_connection-add">
            {% for provider_key in oauth_provider_keys %}
            <li class="">
                <form action="/oauth/{{ provider_key }}/connect/" method="post">
                    {{ csrf_input }}
                    <input type="hidden" name="next" value="{{ url('cafe:connections') }}">
                    <sl-button type="submit">Connect with {{ provider_key.title() }}</sl-button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}