{% include "cafe/shoelace/sl-icon-button.jinja" %}
{% extends "cafe/base.jinja" %}
{% block title %} {{ user.get_short_name() }} Profile {% endblock %}
{% block cssslot_page %} 
    <link rel="stylesheet" href="{{ static('cafe/profile/layout.css') }}" />
    {% block cssslot_profile_content%}

    {% endblock %}
{% endblock %}
{% block body %}
    {% include 'cafe/header.jinja' %}
    <div class="prof">
        <div class="prof_sidebar">
            <div class="prof_sidebar-header">
                <h1>Profile</h1>
                <sl-icon-button name="chevron-left" href="/">
                    Back
                </sl-icon-button>
            </div>
            <nav class="prof_sidebar-nav">
                <ul>
                    <li>
                        <a
                            href="/accounts/profile/"
                        >
                            Info
                        </a>
                    </li>
                    <li>
                        <a
                            href="/accounts/profile/connections"
                        >
                            Connections
                        </a>
                    </li>
                    <li>
                        <a
                            href="/accounts/profile/settings/"
                        >
                            Settings
                        </a>
                    </li>
                    <script>
                        any("a", me())
                            .run(el => {
                                if (el.href === location.href) {
                                    el.classList.add("active-link");
                                }
                            });
                    </script>
                </ul>
            </nav>
        </div>
        <div class="prof_content">
            {% block content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}