{% extends "cafe/profile/layout.jinja" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('cafe/profile/profile.css') }}" />
{% endblock %}
{% block content %}
    <div class="profinfo">
        <form action="/accounts/profile/" method="post" class="profinfo_changename">
            {{ csrf_input }}
            <sl-input name="first_name" label="Name" required value="{{ user.first_name }}">
            </sl-input>
            <sl-button type="submit">Change name</sl-button>
        </form>
        <div class="procinfo_spacer"></div>
        <p class="profinfo_userid">User id: {{ user.username }}</p>
    </div>
{% endblock %}