{% extends "cafe/profile/layout.jinja" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('cafe/profile/profile.css') }}" />
{% endblock %}
{% block content %}
    <div class="profinfo">
        <form action="/accounts/profile/" method="post" class="profinfo_changename">
            {{ csrf_input }}
            <sl-input name="first_name" label="Name" required value="{{ user.first_name }}">
            </sl-input>
            <sl-button type="submit">Change name</sl-button>
        </form>
        <div class="procinfo_spacer"></div>
        <p class="profinfo_userid">User id: {{ user.username }}</p>
    </div>


    {# <h2>Existing connections</h2>
    <ul>
        {% for connection in request.user.oauth_connections.all() %}
        <li>
            {{ connection.provider_key }} [ID: {{ connection.provider_user_id }}]
            {% if connection.can_be_disconnected %}
            <form action="/oauth/{{ connection.provider_key }}/disconnect/" method="post">
                {{ csrf_input }}
                <input type="hidden" name="provider_user_id" value="{{ connection.provider_user_id }}">
                <button type="submit">Disconnect</button>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <h2>Add a connection</h2>
    <ul>
        {% for provider_key in oauth_provider_keys %}
        <li>
            {{ provider_key}}
            <form action="/oauth/{{ provider_key }}/connect/" method="post">
                {{ csrf_input }}
                <button type="submit">Connect</button>
            </form>
        </li>
        {% endfor %}
    </ul> #}
{% endblock %}