{% extends "cafe/profile/layout.jinja" %}
{# {% block cssslot_profile_content %}
    <link rel="stylesheet" href="{{ static('cafe/profile/profile.css') }}" />
{% endblock %} #}
{% block content %}
    <div class="profsettings">
        <p>settings</p>
    </div>
{% endblock %}