.rn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.rn_content {
    background-color: var(--blueGray-100);
    padding: 2rem;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.rn_form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.rn_hint {
    margin-top: 1rem;
    font-size: 0.875rem;
    max-width: 100%;
    color: var(--blueGray-600);
    font-style: italic;
}

.rn_error {
    background-color: var(--red-300);
}