{% from "cafe/base.jinja" import base with context %}
{% from "cafe/layouts/layout_dramatic_form.jinja" import layout_dramatic_form as layout with context %}

{% set content %}
    <form class="create_club_form" action="{{ url('cafe:create_club') }}" method="POST">
        {{ csrf_input }}
        <sl-input label="Group name" help-text="You can change this at any time." name="name"></sl-input>
        <sl-button type="submit">Create group</sl-button>
    </form>
{% endset %}

{% call base(title="Rhythm Cafe") %}
    {% call layout() %}
        {{ content }}
    {% endcall %}
{% endcall %}

<style>
.create_club_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}
</style>