{% from "cafe/base.jinja" import base %}
{% from "cafe/components/header.jinja" import header %}
{% from "cafe/layouts/layout_with_header.jinja" import layout_with_header as layout %}

{% call base(title="Rhythm Cafe", user=request.user) %}
    {% call layout(user=request.user, csrf_input=csrf_input) %}
        <h1>404 Not Found</h1>
    {% endcall %}
{% endcall %}
