{% extends "cafe/layouts/with_header.jinja" %}
{% block title %}Server Error{% endblock %}
{% block header_content_slot %}
    <h1>Internal Server Error</h1>
    <p>{{ error_message }}</p>
{% endblock %}