{% from "cafe/base.jinja" import base with context %}
{% from "cafe/components/header.jinja" import header with context %}
{% from "cafe/layouts/layout_with_header.jinja" import layout_with_header as layout with context %}

{% call base(title="Rhythm Cafe") %}
    {% call layout() %}
        <h1>Internal Server Error</h1>
        <p>{{ error_message }}</p>
    {% endcall %}
{% endcall %}
