.pr {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.pr_sidebar {
    width: 12rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pr_username {
    font-size: 1.25rem;
    font-weight: 400;
}

.pr_profile-pic {
    width: 8rem;
}

.pr_logout {
    text-decoration: underline;
    color: var(--blueGray-800);
}

.pr_logout:hover {
    color: var(--blueGray-900);
    text-decoration: none;
}

.pr_content {
    color: var(--blueGray-900);
}

.pr_userid {
    color: var(--blueGray-700);
    font-size: 0.875rem;
    margin-top: 1rem;
}