
.ph {
	display: flex;
	height: 3rem;
	background-color: var(--green-300);
	z-index: 10;
	box-shadow: var(--shadow-elevation-low);
	align-items: stretch;
}

.ph_logo {
    height: 100%;
    display: inline-block;
    text-align: bottom;
    font-family: "Nunito Variable";
    font-size: 2rem;
    line-height: 3rem;
    color: var(--green-900);
}