
.he {
	display: flex;
	height: 3rem;
	background-color: var(--violet-300);
	z-index: 10;
	box-shadow: var(--shadow-elevation-low);
	align-items: stretch;
}

.he_logo {
	height: 3.74rem;
	fill: var(--violet-400);
	opacity: 70%;
}

.he_logo:hover {
    opacity: 80%;
}

.he_spacer {
    flex-grow: 1;
}

.he_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.he_not-logged-in {
    margin: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--purple-400);
}

.he_not-logged-in:hover {
    background-color: var(--purple-300);
}

.he_logged-in {
    height: 2.5rem;
    margin-right: 1rem;
}

.he_profile-pic {
    border-radius: 9999px;
}

.he_logged-in:hover > .he_profile-pic {
    filter: brightness(1.2);
}