.he {
	display: flex;
	height: 2.75rem;
    background-color: var(--sl-color-neutral-200);
    box-shadow: var(--sl-shadow-large);
	align-items: center;
}

.he_logo {
	display: block;
	height: 3.4rem;
	margin-top: 0.4rem;
	fill: var( --sl-color-primary-400);
	opacity: 70%;
}

.he_user-wrapper {
	margin-right: 0.5rem;
}

.he_user-loading {
	height: 100%;
	width: 100%;
	--color: var(--sl-color-primary-200);
	--sheen-color: var(--sl-color-primary-100);
}

.he_spacer {
	flex-grow: 1;
}

.he_searchbar {
	margin-left: 1rem;
	flex-grow: 1;
}

.he_avatar-button {
	border: none;
	background-color: inherit;
}

.he_avatar {
	--size: 2.3rem;
	transition-property: filter;
	transition-duration: var(--sl-transition-fast);
}

.he_avatar-button:hover {
	cursor: pointer;
}

.he_avatar-button:hover > .he_avatar {
	filter: brightness(1.55);
}