name: Run Management Command

on:
  workflow_dispatch:
    inputs:
      command:
        description: 'Management command to run (e.g., "migrate", "collectstatic", "helloworld --name=test")'
        required: true
        type: string
  workflow_call:

permissions:
  contents: read

jobs:
  runit:
    name: "[ ${{ github.event.inputs.command }} ]"
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.LULU_IP }}
          username: ubuntu
          key: ${{ secrets.LULU_SSH_PRIVATE_KEY }}
          script: |
            CONTAINER_ID=$(sudo docker ps --format=json | \
              jq -r 'select(.Image == "ghcr.io/auburnsummer/orchard2:main") | .ID' | \
              head -1)
            sudo docker exec --workdir=/app/server/cafe-backend $CONTAINER_ID \
              uv run manage.py ${{ inputs.command }}