{% macro common_js() %}
<script>
const formatLongConjunction = arr => {
    const formatter = new Intl.ListFormat('en', { style: 'long', type: 'conjunction' });
    return formatter.format(arr);
};

const formatShortUnit = arr => {
    const formatter = new Intl.ListFormat('en', { style: 'short', type: 'unit' });
    return formatter.format(arr);
}
</script>
{% endmacro %}