{% macro login_with_discord(cls='') %}
    <form action="/oauth/discord/login/" method="post" class="{{ cls }}">
        {{ csrf_input }}
        {% with next_url = request.GET.get("next") %}
            {% if next_url is not none %}
                <input type="hidden" name="next" value="{{ next_url }}"/>
            {% else %}
                <input x-init type="hidden" name="next" :value="window.location.href" />
            {% endif %}
        {% endwith %}
        {#
            typically <sl-button type="submit">Log in with Discord</sl-button>
        #}
        {{ caller() }}
    </form>
{% endmacro %}