{% macro settings_sidebar(links) %}
<!-- BEGIN settings_sidebar.jinja -->
<div class="cse">
    <div class="cse__header">
        {{ caller() }}
    </div>
    <nav class="cse__nav">
        <ul x-data class="cse__list">
            {% for name, href in links %}
                <li>
                    <a
                        :class = "'{{ href }}' === window.location.pathname ? 'cse__link cse__link--active' : 'cse__link'"
                        href="{{ href }}"
                    >
                        {{name}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
<style data-hoist="true">
.cse {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    border-right: 1px solid  var(--sl-color-neutral-200);
    height: 100%;
}

.cse__nav {
    padding-top: 1rem;
}

.cse__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
}

.cse__list li {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.cse__link {
    flex-grow: 1;
    padding: 1rem;
    padding-left: 2rem;
    color: var(--sl-color-neutral-700) !important;
    text-decoration: none;
    margin: 0.25rem;
    border-radius: 0.5rem;
}

.cse__link:hover {
    background-color: var(--sl-color-neutral-300);
}

.cse__link--active {
    background-color: var(--sl-color-primary-100);
}
</style>
<!-- END settings_sidebar.jinja -->
{% endmacro %}